*{
  margin:0;
  padding:0;
}
body{
  font-family:'montseratt',sans-serif;
}
.App{
  background-image: url('./assets/night.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  transition:0.4 ease-out;
  max-height:650px;
  min-height:100vh;
  background-color:black;
  
}
.App.warm{
  background-image: url('./assets/hot1.jpg');
}
.search-box{
  width:20%;
  margin-left:40%;
  display: flex;
}
button#search-btn {
  margin-left: 4px;
  border: none;
  background-color: cyan;
  color: white;
  outline: none;
  padding: 5px;
}
.search-box .search-bar{
  display:block;
  width:100%;
  padding:5px;
  border:none;
  outline:none;
  border-radius: 3px;
}
.location-box
{
  width:300px;
  text-align:center;
  border-radius:16px;
  margin:10px auto;
  padding:15px 25px;
  color:white;
  font-size: 20px;
  font-weight: 700;  
}
.weather-box{
  width:180px;
  text-align:center;
  margin-top:20px;
  background-color: rgba(255,255,255,0.4);
  border-radius:16px;
  margin:10px auto;
  padding:15px 0px;
  color:white;
  font-size: 40px;
  font-weight: 700;  
}